<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height:100px;
            width:100px;
        }

    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-full p-8">
    <h1 class="text-center text-blue-900 text-9xl font-light font-bold mb-5 ">Home page!</h1>

    <%if(locals.Books){%>
        <H1 class="font-light text-2xl m-2">ALL BOOKS</H1>
        <div class="flex justify-center items-center w-full h-[680px] border-2 gap-4 p-4 rounded-sm">
            <%for(let i=0;i<Books.length;i++){%>
                <div class="w-1/2 h-full m-2 p-4 mx-auto border m-4 flex flex-col justify-evenly items-center rounded-sm">
                    <h1 class="text-2xl font-bold text-left w-full"><%=Books[i].title %></h1>
                    <h2 class="w-full text-left">By:<%=Books[i].author %></h2>
                    <h3 class="w-full text-left">Published:<%=Books[i].year %></h3>
                    <img src="<%=Books[i].imageUrl %>" alt="" class="w-full h-[70%]">
                    <a  href="/book/delBook/<%=Books[i]._id%>" class="w-full text-center bg-blue-500 rounded-md  font-thin text-white">DELETE</a>
                    <a href="/book/updateBookPage/<%=Books[i]._id%>" class="w-full text-center bg-blue-500 rounded-md font-thin text-white">UPDATE</a>
                </div>
              <%}%>
        </div>
    <%}%>

</body>
</html>